{{!-- <div class="products-container">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src={{img}} class="card-img" alt="Imagen del producto" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{title}}</h3>
                        <h4>{{description}}</h4>
                        <p class="card-text">{{category}}</p>
                        <p class="card-text"><small class="text-muted">$ {{price}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>--}}
<style>
    .container-fluid { width: 100vw; margin: auto; } .card {padding: 1.5rem; width: 300px; height: 400px; margin:2rem; border: 1px solid #ccc; box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.1); } .card img { width: 100%; height: 200px; object-fit: cover; }
</style>

<div class="container-fluid">
    <div class="row">
        {{#each productos}}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{img}}" class="card-img-top" alt="Imagen del producto" />
                    <div class="card-body">
                        <h3 class="card-title">{{title}}</h3>
                        <h4>{{description}}</h4>
                        <p class="card-text">{{category}}</p>
                        <p class="card-text"><small class="text-muted">$ {{price}}</small></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="botonera">

    {{#if hasPrevPage}}
        <button>
            <a href="/products?page={{prevPage}}"> Anterior </a>
        </button>
    {{/if}}
    {{#if hasNextPage}}
        <button>
            <a href="/products?page={{nextPage}}"> Siguiente </a>
        </button>

    {{/if}}
    <div>
        <p>Página {{currentPage}} de {{totalPages}} </p>
    </div>

</div>