{{!-- <div class="container">
    <div class="row">
        {{#each productos}}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{img}}" class="card-img-top" alt="Imagen del producto" />
                    <div class="card-body">
                        <h3 class="card-title">{{title}}</h3>
                        <h4>{{description}}</h4>
                        <p class="card-text">{{category}}</p>
                        <p class="card-text"><small class="text-muted">$ {{price}}</small></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div> --}}

<div class="card-deck">
    {{#each productos}}
        <div class="card">
            <img src="{{img}}" class="card-img-top" alt="Imagen del producto" />
            <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <h4>{{description}}</h4>
                <h4 class="card-text">Categoría: {{category}}</h4>
                <h4 class="card-text"> $ {{price}}</h4>
            </div>
        </div>
    {{/each}}
</div>

<div class="botonera">
    {{#if hasPrevPage}}
        <button>
            <a href="/products?page={{prevPage}}"> Anterior </a>
        </button>
    {{/if}}
    {{#if hasNextPage}}
        <button>
            <a href="/products?page={{nextPage}}"> Siguiente </a>
        </button>

    {{/if}}
    <div>
        <p>Página {{currentPage}} de {{totalPages}} </p>
    </div>

</div>