<style>
    header { text-align: center; } .title { text-align: center; } button {display: flex; margin: auto; background-color: #0e71db; color: white; border: none; padding: 12px 20px; text-align: center; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease; margin-top: 10px; } button:hover { background-color: #0f4680; } a:hover { background-color: #0f4680; } a{text-decoration: none; color: aliceblue;}
</style>
<header>
    <h1> Mi Perfil </h1>
    <div>
        <p>Te damos la bienvenida, {{user.first_name}} - {{user.last_name}}!! </p>
        <p>E-mail: {{user.email}} </p>
        <p>Edad: {{user.age}} </p>
        <p>Rol: {{user.role}} </p>
        <button><a href="/logout"> Cerrar Sesión </a></button>
    </div>
</header>